@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --background-color: #F6F6F6;
    --circle-color: #006C6A;
    --userName-color: #4F4F4F;
    --userDescription-color: #4F4F4F;
    --buttonBackground-color: #008F8C;
    --text-color: #F6F6F6;
}