@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --background-color: #F6F6F6;
    --backgroundContent-color: #F6F6F6;
    --circle-color: #006C6A;
    --userName-color: #4F4F4F;
    --userDescription-color: #4F4F4F;
    --buttonBackground-color: #008F8C;
    --text-color: #F6F6F6;
    --linksBtn-color: #008F8C;
    --logo-color: #006C6A;

    --buttonBackgroundHover-color: #00adab;
}

/* :root {
    --background-color: linear-gradient(107.56deg, #008F8C 0%, #015958 100%);
    --backgroundContent-color: #015958;
    --circle-color: #f6f6f6;
    --userName-color: #F6F6F6;
    --userDescription-color: #F6F6F6;
    --buttonBackground-color: #008F8C;
    --text-color: #F6F6F6;
    --linksBtn-color: #F6F6F6;
} */

a {
    color: var(--linksBtn-color);
}