@media (min-width: 992px) {

    .content {
        width: 510px;
        height: auto;

        background: var(--backgroundContent-color);

        margin-top: 70px;
        margin-bottom: 40px;

        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 25px;

    }

    .userBlock {
        width: 80%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .userLinks {
        width: 80%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        margin-top: 30px;
    }

    .userSocialNetworks {
        width: 80%;
        height: auto;

        margin-top: 30px;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        color: var(--linksBtn-color);
    }
}