/*** BACKGROUND ***/

html {

    min-height: 100%;
    min-width: 100%;

}

body {
    background: var(--background-color);
    background-repeat: no-repeat;

    transition: background var(--modeTransition-time);

    /* overflow-y: hidden; */
    overflow-x: hidden;
}

.backgroundCircle {
    width: 10vw;
    height: 10vw;
    clip-path: circle(50% at 50% 50%);
    background: var(--circle-color);

    transition: background var(--modeTransition-time);

    z-index: -999;
}

.backgroundCircle.top {
    width: 55vw;
    height: 55vw;

    position: fixed;

    top: -45vw;
    left: 10vw;
}

.backgroundCircle.bottomLeft {
    width: 55vw;
    height: 55vw;

    position: fixed;

    bottom: -45vw;
    left: -15vw;
}

.backgroundCircle.bottomRight {
    width: 30vw;
    height: 30vw;

    position: fixed;

    right: -12vw;
    bottom: -5vw;
}

/*** MAIN ***/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    width: 510px;
    height: auto;

    background: var(--backgroundContent-color);

    transition: background var(--modeTransition-time);

    margin-top: 70px;
    margin-bottom: 40px;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 25px;

}

/*** USER SECTION ***/

/* USER PROFILE */

.userBlock {
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.userAvatar {
    width: 100%;
    height: auto;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
}

.userAvatarCircle {
    width: 140px;
    height: 140px;

    clip-path: circle(50% at 50% 50%);
}

.userAvatar img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.userName {
    width: 100%;

    margin-bottom: 15px;

    color: var(--userName-color);

    transition: color var(--modeTransition-time);
}

.userName p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;

    text-align: center;
}

.userDescription {
    width: 100%;
    height: auto;

    color: var(--userDescription-color);
    transition: color var(--modeTransition-time);

}

.userDescription p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

/* USER LINKS */

.userLinks {
    width: 80%;
    height: auto;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    margin-top: 30px;
}

.linkBlock {
    width: 100%;
    height: auto;
    padding: 20px;
    background: var(--buttonBackground-color);

    transition: background var(--modeTransition-time);

    border-radius: 2px;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.20));

    text-align: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--text-color);

    text-transform: uppercase;

    cursor: pointer;
}

.linkBlock:hover {
    background: var(--buttonBackgroundHover-color);

    transition: background var(--modeTransition-time);
}

/* USER SOCIALNETWORKS */

.userSocialNetworks {
    width: 80%;
    height: auto;

    margin-top: 30px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    color: var(--linksBtn-color);

    transition: color var(--modeTransition-time);

}

.social {
    transition: all .1s ease-in-out;
}

.social:hover {
    transform: scale(1.3);

    margin-left: 10px;
    margin-right: 10px;

}

/*** FOOTER ***/

footer {
    width: 100%;
    height: auto;
    position: relative;
    padding: 5px;
    margin-bottom: 40px;
}

footer h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;

    color: var(--logo-color);

    transition: color var(--modeTransition-time);

}

/*** CHANGE MODE ***/

.changeMode {

    width: auto;
    height: auto;

    position: fixed;

    right: 20px;
    top: 10px;

    color: black;

    cursor: pointer;

    z-index: 99;
}

.changeMode img {
    width: 40px;
}